<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	

	<!-- start basic args -->
	<remap from="/$(arg veh)/camera_node/image/compressed" to="/$(arg veh)/camera/image_raw/compressed" />
	<remap from="/$(arg veh)/camera_node/image/raw" to="/$(arg veh)/camera/image_raw" />
	<remap from="/$(arg veh)/camera_node/camera_info" to="/$(arg veh)/camera/camera_info"/>
	<remap from="$(arg veh)/lane_controller_node/objects" to="$(arg veh)/objects"/>
	<include file="$(find cmd_inter)/launch/master.launch">
		<arg name="wheels" value="false"/>
		<arg name="camera" value="true"/>
		<arg name="/LED/emitter" value="false"/>
		<arg name="veh" value="$(arg veh)"/>
		<arg name="visualization" default="true" />
		<arg name="verbose" default="false" />
		<arg name="param_file_name" default="default" />
		<arg name="line_detector_param_file_name" default="default" />
		<arg name="anti_instagram" default="true" />
		<arg name="/lane_following/stop_line_filter" default="false" /> <!-- will not every allow a transition into COORDINATION mode -->
		
	</include>
	<node ns="$(arg veh)" pkg="cmd_inter" name="cmd_inter_node" type="cmd_inter_node.py" output="screen">
		<remap from="~cmd" to="/$(arg veh)/car_cmd_switch_node/cmd"/>
		<remap from="~cmd_vel" to="/$(arg veh)/cmd_vel"/>
		
	</node>

	<node ns="$(arg veh)" name="find_object_node" pkg="find_object_2d" type="find_object_2d" output="screen">
		<remap from="image" to="/$(arg veh)/camera/image_raw"/>
		<param name="gui" value="true" type="bool"/>
		<param name="session_path" value="/home/robocon/duckietown/catkin_ws/src/duckietown-sim-server/object_session/duckiebot.bin" type="str"/>
	</node>
</launch>
